@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

html {
  font-size: 17px;
  height: auto;
}

body {
  font-family: 'Fira Code', monospace;
  letter-spacing: 3px;
  background-color: #000;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes colorChange {
  0% {
    fill: rgb(199, 244, 255);
  }
  11.11% {
    fill: rgb(168, 249, 255);
  }
  22.22% {
    fill: #aceeff;
  }
  33.33% {
    fill: #c9e7ff;
  }
  44.44% {
    fill: #bbfdff;
  }
  55.55% {
    fill: rgb(178, 224, 255);
  }
  66.66% {
    fill: #cfe4ff;
  }
  77.77% {
    fill: #ade5ff;
  }
  88.88% {
    fill: #afe2ff;
  }
  100% {
    fill: rgb(199, 244, 255);
  }
}

@keyframes twinkle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes twinkle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes twinkle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes twinkle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.fade-in10 {
  animation: 10s fadeIn;
  opacity: 1;
}

.info {
  color: azure;
  background-color: black;
  z-index: 4;
}

.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url(./img/stars.png) repeat top center;
  z-index: 0;
}

.twinkling{
  background: transparent url(./img/twinkling.png) repeat top center;
  z-index: 1;
  opacity: .5;
  -moz-animation: twinkle 200s linear infinite;
  -ms-animation: twinkle 200s linear infinite;
  -o-animation: twinkle 200s linear infinite;
  -webkit-animation: twinkle 200s linear infinite;
  animation: twinkle 200s linear infinite;
}